<%= simple_form_for @atividade || Atividade.new do |f| %>
  <div class="form-inputs">
	<%= f.input :tempo %>
	<%= f.input :tipo %>
	<%= f.input :data %>
  </div>
  <div class="form-action">
  	<%= f.button :submit %>
  </div>
<% end %>